<include file='common:head' />
<title></title>
</head>
<body>
<div class="page-container">
	<form action="" method="post" class="form form-horizontal SubmiForm" id="form-article-add">
              <div class="row cl">
			<label class="form-label col-xs-3 col-sm-2"  style='text-align:right;'>类型：</label>
			<div class="formControls col-xs-7 col-sm-9">
              <{$classInfo.type_name}>
			</div>
			</div>
            <div class="row cl">
			<label class="form-label col-xs-3 col-sm-2"  style='text-align:right;'>主题：</label>
			<div class="formControls col-xs-7 col-sm-9">
              <{$row.subject}>
			</div>
		</div>
			<div class="row cl">
			<label class="form-label col-xs-3 col-sm-2" style='text-align:right;'>内容：</label>
			<div class="formControls col-xs-7 col-sm-9">
                <{$row.content}>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-3 col-sm-2" style='text-align:right;'>回复：</label>
			<div class="formControls col-xs-7 col-sm-9">
                <if condition='$row.reply eq "" ' > 暂未回复 <else/><{$row.reply}></if>
			</div>
		</div>
	</form>
</div>
      <div id="pageNav" class="pageNav"><button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;关闭&nbsp;&nbsp;</button></div>
<include file='Common:foot' />
