<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css" >
*{margin:0 auto;}
td{height:30px;line-height:30px;}
table{border-collapse:collapse;margin-top:8%; font-size:18px ; color:#333}
</style>
<script type="text/javascript">
function Jump(){
    window.location.href = 'http://www.csnc555.com/Home/index';
}
document.onload = setTimeout("Jump()" , 5* 1000);
</script>
</head>

<body>
<table width="1000" border="0">

  <tr style="height:80px;">
    <td width="369" height="75">&nbsp;</td>
    <td colspan="2"><img src="__IMG__/pay2.png" width="298" height="128" /></td>
    <td width="29">&nbsp;</td>
  </tr>
  <tr>
    <td colspan='4' style='text-align:center;'><span style="color:blue;font-weight:bold;">5</span> 秒后自动跳转,如果不想等待,直接点击 <a href="http://www.csnc555.com/Home/index">这里</a> 跳转</p></td>
   
  </tr>

</table>

</body>
</html>
