<include file='Common:head' />
<link href="__PUBLIC__/H-ui/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
<title>参数管理</title>
</head>
<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 参数管理 <span class="c-gray en">&gt;</span>快速奖管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container">

        <div class="text-c"> 
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l">
                <!--<a class="btn btn-primary radius" onclick="levelvalue_add_show('800','300','添加','/index.php/Param/levelvalueadd.html')" href="javascript:;"><i class="Hui-iconfont"></i> 添加</a>-->
            </span> <span class="r">共有数据：<strong><{$count}></strong> 条</span> </div>
        <div class="mt-0">
            <table class="table table-border table-bordered table-hover table-bg ">
                <thead>
                    <tr class="text-c">
                        <th width="80">No</th>
                        <th class='text-l'>等级</th>
                        <th class='text-l'>层级</th>
                        <th class='text-l'>奖励</th>
                        <th width="120">操作</th>
                    </tr>
                </thead>
                <tbody>
                <volist name='list' id='vo' >
                    <tr class="text-c">
                        <td><{$i}></td>
                        <td class='text-l'><{$vo.title}></td> 
                        <td class='text-l'><{$vo.min}>-<{$vo.max}></td>
                        <td class='text-l'><{$vo.value}></td>
                   
                    <td class="f-14 td-manage">
                        <a style="text-decoration:none" class="ml-5" onClick="showPage( '800', '300', '修改', '<{:U('Param/levelvalueedit',array('id'=>$vo['id']))}>')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
                    </td>
                </volist>
                </tbody>
            </table>  
            <div id="pageNav" class="pageNav"><{$page}></div>
        </div>
    </div>

<include file='Common:foot' />