<include file='Common:head' />
<link href="__PUBLIC__/H-ui/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
<title>参数管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 参数管理 <span class="c-gray en">&gt;</span> 等级管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
<form method="post" action="__SELF__">
	<div class="text-c"> 
    <input type="text" class="input-text" style="width:250px" placeholder="输入参数名" id="" value="<{$arr['search_title']}>" name="search_title" ><button type="submit" class="btn btn-success" id="" ><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
	</div> </form>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"></span> <span class="r">共有数据：<strong><{$count}></strong> 条</span> </div>
	<div class="mt-0">
	<table class="table table-border table-bordered table-hover table-bg ">
	<thead>
	<tr class="text-c">
        <th width="80">No</th>
        <th class='text-l'>等级名</th>
	<th class='text-l'>升级金额</th>
        <th width="120">操作</th>
	</tr>
	</thead>
	<tbody>
	<volist name='list' id='vo' >
      <tr class="text-c">
        <td><{$i}></td>
        <td class='text-l'><{$vo.title}></td> 
		<td class='text-l'><{$vo.registermoney}></td>
	   <td class="f-14 td-manage">
        <a style="text-decoration:none" class="ml-5" onClick="showPage('800','600','修改注册等级','<{:U('Param/memberleveledit',array('id'=>$vo['id']))}>')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
        </td>
       </volist>
	  </tbody>
	</table>  
	<div id="pageNav" class="pageNav"><{$page}></div>
	</div>
</div>

<include file='Common:foot' />