<include file='Common:head' />

<title>注册会员</title>
</head>
<body>
     <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 购物中心 <span class="c-gray en">&gt;</span> 购买产品 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<article class="page-container">
	<form action="__SELF__" method="post" class="form form-horizontal submitform" id="form-member-add">
            {__TOKEN__} 
            <fieldset style="border: 1px solid #56b4f3; border-radius: 9px;">
            <legend style="margin-left: 50px; color: #fff; background-color: #56b4f3;width:80px;font-size: 12px;text-align: center; margin-bottom: 0px;height:25px;line-height: 25px;">会员信息</legend>

              <div class="row cl">
			<label class="form-label col-xs-3 col-sm-2" style='text-align:right;'><span class="c-red">*</span>收货人：</label>
			<div class="formControls col-xs-7 col-sm-4">
                            <input type="text" class="input-text receiver" value="<{$userInfo.name}>" placeholder="" name="receiver" id="receiver" errormsg="请输入中文名！"  nullmsg='请输入收货人姓名' datatype="*">
			</div> <div class="Validform_checktip"></div>
                        
                        <label class="form-label col-xs-3 col-sm-2" style='text-align:right;'><span class="c-red">*</span>手机号码：</label>
			<div class="formControls col-xs-7 col-sm-4">
                            <input type="text" class="input-text mobile" value="<{$userInfo.mobile}>" placeholder="" name="mobile" id="post_code" errormsg="手机号码格式不正确！"  nullmsg='请输入手机号码' datatype="mobile">
			</div> <div class="Validform_checktip"></div>
		</div>
             
                <div class="row cl">
			<label class="form-label col-xs-3 col-sm-2" style='text-align:right;'><span class="c-red">*</span>邮政编码：</label>
			<div class="formControls col-xs-7 col-sm-4">
                            <!--value="<{$userInfo.post_code}>"-->
                            <input type="text" class="input-text post_code" value="514500"  placeholder="" name="post_code" id="post_code" errormsg="邮政编码格式不正确！"  nullmsg='请输入邮政编码' datatype="yb-6">
			</div> <div class="Validform_checktip"></div>
                        <label class="form-label col-xs-3 col-sm-2" style='text-align:right;'><span class="c-red">*</span>所在地区：</label>
                     
			<div class="formControls ">
                            <div class="formControls col-xs-7 col-sm-4 " id="region_container" >
                            
                            </div>
                                 <div class="Validform_checktip"></div>
			</div>
		</div>
                 <div class="row cl">
			<label class="form-label col-xs-3 col-sm-2" style='text-align:right;'><span class="c-red">*</span>详细地址：</label>
			<div class="formControls col-xs-7 col-sm-10">
<!--                           -->
<input type="text"   value="<{$userInfo.detailed_address}>"  class="input-text detailed_address" placeholder="" name="detailed_address" id="detailed_address" errormsg="详细地址不正确！"  nullmsg='请输入详细地址' datatype="*">
			</div>
                      <div class="Validform_checktip"></div>
		</div>
            <div class="row cl">
			<label class="form-label col-xs-3 col-sm-2" style='text-align:right;'><span class="c-red">*</span>备注：</label>
			<div class="formControls col-xs-7 col-sm-10">
                            <input type="text" value='' class="input-text message" placeholder="" name="message" id="message" >
			</div>
                      <div class="Validform_checktip"></div>
		</div>
		
            </fieldset>
            <div style='height:20px;'></div>
           
            <fieldset style="border: 1px solid #0CF; border-radius: 9px;">
                <legend style="margin-left: 50px; color: #fff; background-color: #0CF;width:80px;font-size: 12px;text-align: center; margin-bottom: 0px;height:25px;line-height: 25px;">产品信息</legend>
          <div class="row cl">
                    <label class="form-label  l" style="text-indent: 4em;" > <font style="color: red;font-size: 20px;" id="minRegistGrade_div"></font>   </label> 
                </div>
                <div class="row cl">
			 <label class="form-label  l" style="text-indent: 4em;" >   您选择的产品: 总数:<span id="productTotalNum" style="font-weight: 600;">0</span>  
                             总会员价:<span id="productTotalAmount" style="font-weight: 900;color:green;font-size: 20px;">0</span>  
                             <!--总PV:<span id="productTotalPV" style="font-weight: 900;color:green;font-size: 20px;">0</span>-->
                <span id="error_payCoin" class="error"></span>      </label>
		</div>
                <div class="row cl" style="margin: 0px;"> 
		<div class="mt-0">
                <table class="table table-border table-bordered table-hover table-bg ">
		<thead>
                <tr class="text-c">
                <th style="width: 60px;">选择商品</th>
                <th>商品名称</th>
                <th>产品价格</th>
                <!--<th>产品pv</th>-->
                <th>数量</th>
                <th>小计</th>
                <th>操作</th>
                </tr>
                </thead>
                <tbody>   
                <volist name="pro_list" id="pro_vo">
                <tr class="text-c">
                <td>
                    <input type="checkbox" class="product_id" name="product_id" id="productSelect_<{$pro_vo.id}>"  value="<{$pro_vo.id}>"  onclick="onMemberProductSelectClick(this.checked,'<{$pro_vo.id}>')"></td>
               
                <td><{$pro_vo.product_title}></td>
                <td><{$pro_vo.member_price}>
                <input id="memberPrice_<{$pro_vo.id}>" type="hidden" value="<{$pro_vo.member_price}>">
                </td>
                <!--<td><{$pro_vo.product_pv}>-->
                <input id="memberPv_<{$pro_vo.id}>" type="hidden" value="<{$pro_vo.product_pv}>">
                </td>
                <td ><input type="type"  id="productNum_<{$pro_vo.id}>"  class='productNum_<{$pro_vo.id}>' maxlength="9" style="width:100px;" onblur="resetMemberProductAmount('<{$pro_vo.id}>',this.value)" onkeyup="clearNoInteger(event,this)"></td>
                <td><span id="productAmount_<{$pro_vo.id}>">0</span></td>
                <td > <a href="javascript:void(0);" onclick="showPage('700','650','商品详情','<{:U('Orders/productInfo',array('id'=>$pro_vo['id']))}>')"  >查看商品详情</a></td>
      
                </tr> 
                </volist>
                
                <if condition="$flag eq 1 " >
                        <tr> 
                            <td colspan="6"> <span onclick="gwjf()" style="cursor: pointer;color:#0331da;">使用购物积分 </span> <div id="gwjf" style="display: none"><input  type="text" class="input-text gwjf"  onblur="verifygwjf(<{$userInfo.gouwujifen}>)"  style="width:150px;" ><span>剩余购物积分：<{$userInfo.gouwujifen}></span></div></td>
                     </tr> 
                     <td colspan="6"><span  onclick="gwj()" style="cursor: pointer;color:#0331da;">使用购物卷</span> <div id="gwj" style="display: none;"> <input  type="text" class="input-text gwj"   style="width:150px;" onblur="verifygwj(<{$userInfo.gouwujuan}>)" >  剩余购物卷：<{$userInfo.gouwujuan}>，可用购物卷：<span id="aa" style="font-weight: 900;color:green;font-size: 20px;">0</span>  </div></td>
                </tr>
                <tr> 
                    <td colspan="6"><span onclick="xjjf()" style="cursor: pointer;color:#0331da;">使用现金积分</span> <div id="xjjf" style="display: none;"><input  type="text" class="input-text xjjf"   style="width:150px;" onblur="verifyxjjf(<{$userInfo.cash}>)" >  剩余现金积分：<{$userInfo.cash}></div></td>
                     </tr>
                     <tr>
                         <td colspan="6"><span onclick="dzjf()" style="cursor: pointer;color:#0331da;">使用电子积分</span><div id="dzjf" style="display: none;"> <input  type="text" class="input-text dzjf"    style="width:150px;" onblur="verifdzjf(<{$userInfo.dianzimoney}>)" >  剩余电子币：<{$userInfo.dianzimoney}></div></td>
                     </tr>
                 <else/>
                 <tr> 
                            <td colspan="6"> <span onclick="gwjf()" style="cursor: pointer;color:#0331da;">使用购物积分 </span> <div id="gwjf" style="display: none"><input  type="text" class="input-text gwjf"  onblur="verifygwjf(<{$userInfo.gouwujifen}>)"  style="width:150px;" ><span>剩余购物积分：<{$userInfo.gouwujifen}></span></div></td>
                     </tr> 
                </if>
                </tbody>
                </table>  
                <div class="pageNav" id="pageNav"></div>
                </div>
		</div>
            </fieldset>
          
               <div class="row cl">
			<div class="col-xs-8 col-sm-4 col-xs-offset-4 col-sm-offset-3">
                            <button class="btn btn-primary radius" type="button" id="btn" style="background:gray;border:gray;"><i class="Hui-iconfont">&#xe632;  </i>确认购买</button>
			</div>
		</div>
         
	</form>
</article>
    
    
<include file='Common:foot' />
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/address/addre_area.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/address/address-select.min.js"></script>
<script type="text/javascript">  
function verifygwjf(hasgwjf){
     var obj = $(".gwjf");
     if(isNaN(obj.val())){
         obj.val(0);
     }
     else if(obj.val()>hasgwjf){
          obj.val(hasgwjf);
     }
     var productsum=parseInt($('#productTotalAmount').text());
     var v1=parseInt($('.gwjf').val());
     var v2=parseInt($('.gwj').val());
     var v3=parseInt($('.xjjf').val());
     var v4=parseInt($('.dzjf').val());
     if(isNaN(v1)){
         v1=0;
     }
     if(isNaN(v2)){
         v2=0;
     }
     if(isNaN(v3)){
         v3=0;
     }
     if(isNaN(v4)){
         v4=0;
     }
     var v5=parseInt(v1+v2+v3+v4);
     if(v5==productsum&&productsum!=0){
     $("#btn").attr('type','submit');
     $("#btn").css('background','#0a6999');
     $("#btn").css('border','#0a6999');
    }
    else{
        $("#btn").attr('type','button');
        $("#btn").css('background','gray');
        $("#btn").css('border','gray');
        
    }
    
}
function verifygwj(hasgwj){
     var obj = $(".gwj");
     var a=parseInt(obj.val());
     var aa=parseInt($("#aa").text());
     if(isNaN(obj.val())){
         obj.val(0);
     }
     else if(a>aa){
         obj.val(aa);
     }
     else if(a>hasgwj){
          obj.val(hasgwj);
     }
     var productsum=parseInt($('#productTotalAmount').text());
     var v1=parseInt($('.gwjf').val());
     var v2=parseInt($('.gwj').val());
     var v3=parseInt($('.xjjf').val());
     var v4=parseInt($('.dzjf').val());
     if(isNaN(v1)){
         v1=0;
     }
     if(isNaN(v2)){
         v2=0;
     }
     if(isNaN(v3)){
         v3=0;
     }
     if(isNaN(v4)){
         v4=0;
     }
     var v5=parseInt(v1+v2+v3+v4);
     if(v5==productsum&&productsum!=0){
     $("#btn").attr('type','submit');
     $("#btn").css('background','#0a6999');
     $("#btn").css('border','#0a6999');
    }
    else{
        $("#btn").attr('type','button');
        $("#btn").css('background','gray');
        $("#btn").css('border','gray');
        
    }
}
function verifyxjjf(hasxjjf){
     var obj = $(".xjjf");
     if(isNaN(obj.val())){
         obj.val(0);
     }
     else if(obj.val()>hasxjjf){
          obj.val(hasxjjf);
     }
     var productsum=parseInt($('#productTotalAmount').text());
     var v1=parseInt($('.gwjf').val());
     var v2=parseInt($('.gwj').val());
     var v3=parseInt($('.xjjf').val());
     var v4=parseInt($('.dzjf').val());
     if(isNaN(v1)){
         v1=0;
     }
     if(isNaN(v2)){
         v2=0;
     }
     if(isNaN(v3)){
         v3=0;
     }
     if(isNaN(v4)){
         v4=0;
     }
     var v5=parseInt(v1+v2+v3+v4);
     if(v5==productsum&&productsum!=0){
     $("#btn").attr('type','submit');
     $("#btn").css('background','#0a6999');
     $("#btn").css('border','#0a6999');
    }
    else{
        $("#btn").attr('type','button');
        $("#btn").css('background','gray');
        $("#btn").css('border','gray');
        
    }
}
function verifdzjf(hasdzjf){
     var obj = $(".dzjf");
     if(isNaN(obj.val())){
         obj.val(0);
     }
     else if(obj.val()>hasdzjf){
          obj.val(hasdzjf);
     }
     var productsum=parseInt($('#productTotalAmount').text());
     var v1=parseInt($('.gwjf').val());
     var v2=parseInt($('.gwj').val());
     var v3=parseInt($('.xjjf').val());
     var v4=parseInt($('.dzjf').val());
     if(isNaN(v1)){
         v1=0;
     }
     if(isNaN(v2)){
         v2=0;
     }
     if(isNaN(v3)){
         v3=0;
     }
     if(isNaN(v4)){
         v4=0;
     }
     var v5=parseInt(v1+v2+v3+v4);
     if(v5==productsum&&productsum!=0){
     $("#btn").attr('type','submit');
     $("#btn").css('background','#0a6999');
     $("#btn").css('border','#0a6999');
    }
    else{
        $("#btn").attr('type','button');
        $("#btn").css('background','gray');
        $("#btn").css('border','gray');
        
    } 
}
    
function gwj(){ 
        if(document.getElementById("gwj").style.display =='none'){
        document.getElementById("gwj").style.display = "block";
        }else{
                document.getElementById("gwj").style.display = "none";
        }

    }
function gwjf(){
     if(document.getElementById("gwjf").style.display =='none'){
        document.getElementById("gwjf").style.display = "block";
        }else{
                document.getElementById("gwjf").style.display = "none";
        }
}
function xjjf(){
     if(document.getElementById("xjjf").style.display =='none'){
        document.getElementById("xjjf").style.display = "block";
        }else{
                document.getElementById("xjjf").style.display = "none";
        }
}
function dzjf(){
     if(document.getElementById("dzjf").style.display =='none'){
        document.getElementById("dzjf").style.display = "block";
        }else{
                document.getElementById("dzjf").style.display = "none";
        }
}
function onMemberProductSelectClick(checked, productId) {
	if(checked) {
		resetMemberProductAmount(productId, "1");
	} else {
		resetMemberProductAmount(productId, "");
	}
}
var totalProductNum = 0;
var totalProductAmount = 0;
var totalProductPv = 0;
var totalMarketPrice = 0;
function resetMemberProductAmount(productId, num) {
	var price = eval($("#memberPrice_" + productId).val());
	if(isNaN(num) == false && num.length > 0) {
		if(eval(num) > 0) {
			$("#productSelect_" + productId).attr("checked",'true');
		} else {
			$("#productSelect_" + productId).removeAttr("checked");
		}
		$("#productNum_" + productId).val(num);
		$("#productAmount_" + productId).html("" + (eval(num) * price));
	} else {
		$("#productSelect_" + productId).removeAttr("checked");
		$("#productAmount_" + productId).html("");
		$("#productNum_" + productId).val("");
	}
	totalProductNum = 0;
	totalProductAmount = 0;
	totalProductPv = 0;
	totalMarketPrice = 0;
	$("input[id^='productSelect_']:checkbox:checked").each(function(){ 
		var curProductId = $(this).val(); 
		var productNum = $("#productNum_" + curProductId).val();
		var productPrice = eval($("#memberPrice_" + curProductId).val());
		var productPv = eval($("#memberPv_" + curProductId).val());
		var marketPrice = eval($("#marketPrice_" + curProductId).val());
		if(isNaN(productNum) == false) {
			totalProductNum += eval(productNum);
			totalProductAmount += eval(productNum) * productPrice;
			totalProductPv += eval(productNum) * productPv;
			totalMarketPrice += eval(productNum) * marketPrice;
		}
	});
	
	$("#productTotalNum").text(totalProductNum);
	$("#productTotalAmount").text(totalProductAmount);
        if(<{$userInfo.gouwujuan}><totalProductAmount/2){
            $("#aa").text(<{$userInfo.gouwujuan}>);
        }
        else{
	$("#aa").text(totalProductAmount/2);
        }
	//getRegistJibie(totalProductAmount);
	
	$("#totalMarketPrice").text(totalMarketPrice);
	$("#productTotalPV").text(totalProductPv);
	$("#realPrice").text((totalProductAmount/2).toFixed(2));
	
}
//根据注册金额获取注册级别 2015.05.15
function getRegistJibie(totalProductAmount) {
	if ($.trim(totalProductAmount) != "") {
                            $.ajax({ 
				type:"get", 
				url:"/Home/Orders/checkMoney", 
				data: {
                                    totalProductAmount:totalProductAmount
                                }, 
				dataType: 'json', 
				async : false,//设置为同步操作就可以给全局变量赋值成功 
				success:function(data){ 
				 if(data.status==1)
					{
						  $("#minRegistGrade_div").text(data.msg);	
					}
					else
					{
						 $("#minRegistGrade_div").text(data.msg);
					}
				 
				} 
			});

	} else {
//		$("#minRegistGrade_div").text("没达到最低注册级别");
	}
        
}
    
    
    
$(function(){
	
        $.extend($.Datatype,{
		"z2-4" : /^[\u4E00-\u9FA5\uf900-\ufa2d]{2,4}$/,
               
	});
	$(".submitform").Validform({
                callback:function(form){
                        product_add();
			return false;
		},
		tiptype:1,
                datatype:{//传入自定义datatype类型【方式二】;
			"z2-4" : /^[\u4E00-\u9FA5\uf900-\ufa2d]{2,4}$/,
                        "yb-6":/[1-9]\d{5}(?!\d)/,
                        "u6-16":/^[A-Za-z0-9]{6,12}$/,
                        "yhno-16-19":/^(\d{16}|\d{19})$/,
                        "xxdz":/^(?=.*?[\u4E00-\u9FA5])[\d\u4E00-\u9FA5]+/,
                        'mobile':/^1[34578]\d{9}$/,
                        "idcard":function(gets,obj,curform,datatype){
				//该方法由佚名网友提供;
			
				var Wi = [ 7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2, 1 ];// 加权因子;
				var ValideCode = [ 1, 0, 10, 9, 8, 7, 6, 5, 4, 3, 2 ];// 身份证验证位值，10代表X;
			
				if (gets.length == 15) {   
					return isValidityBrithBy15IdCard(gets);   
				}else if (gets.length == 18){   
					var a_idCard = gets.split("");// 得到身份证数组   
					if (isValidityBrithBy18IdCard(gets)&&isTrueValidateCodeBy18IdCard(a_idCard)) {   
						return true;   
					}   
					return false;
				}
				return false;
				
				function isTrueValidateCodeBy18IdCard(a_idCard) {   
					var sum = 0; // 声明加权求和变量   
					if (a_idCard[17].toLowerCase() == 'x') {   
						a_idCard[17] = 10;// 将最后位为x的验证码替换为10方便后续操作   
					}   
					for ( var i = 0; i < 17; i++) {   
						sum += Wi[i] * a_idCard[i];// 加权求和   
					}   
					valCodePosition = sum % 11;// 得到验证码所位置   
					if (a_idCard[17] == ValideCode[valCodePosition]) {   
						return true;   
					}
					return false;   
				}
				
				function isValidityBrithBy18IdCard(idCard18){   
					var year = idCard18.substring(6,10);   
					var month = idCard18.substring(10,12);   
					var day = idCard18.substring(12,14);   
					var temp_date = new Date(year,parseFloat(month)-1,parseFloat(day));   
					// 这里用getFullYear()获取年份，避免千年虫问题   
					if(temp_date.getFullYear()!=parseFloat(year) || temp_date.getMonth()!=parseFloat(month)-1 || temp_date.getDate()!=parseFloat(day)){   
						return false;   
					}
					return true;   
				}
				
				function isValidityBrithBy15IdCard(idCard15){   
					var year =  idCard15.substring(6,8);   
					var month = idCard15.substring(8,10);   
					var day = idCard15.substring(10,12);
					var temp_date = new Date(year,parseFloat(month)-1,parseFloat(day));   
					// 对于老身份证中的你年龄则不需考虑千年虫问题而使用getYear()方法   
					if(temp_date.getYear()!=parseFloat(year) || temp_date.getMonth()!=parseFloat(month)-1 || temp_date.getDate()!=parseFloat(day)){   
						return false;   
					}
					return true;
				}
				
			}
		}
	});	
	
	
})


 var province, capital, city;
        for (var i = 0; i < address_data[0].Province.length; i++) {
            if (address_data[0].Province[i].Name == "") {
                province = address_data[0].Province[i].Name;
                for (var j = 0; j < address_data[0].Province[i].Capital.length; j++) {
                    if (address_data[0].Province[i].Capital[j].Name == "") {
                        city = address_data[0].Province[i].Capital[j].Name;
                        for (var k = 0; k < address_data[0].Province[i].Capital[j].City.length; k++) {
                            if (address_data[0].Province[i].Capital[j].City[k].Name == "") {
                                capital = address_data[0].Province[i].Capital[j].City[k].Name;
                            }
                        }
                    }
                }
            }
        }
            create_address_select('', 'region_container', 'Name', '<{$userInfo.province}>', '<{$userInfo.city}>', '<{$userInfo.area}>');
//         create_address_select('', 'region_container', 'Name', '广东省', '惠州市', '惠城区');
</script> 
