<include file='Common:head' />
<title>已审核订单</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>订单管理 <span class="c-gray en">&gt;</span>已审核订单 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
<form method="get" action="__SELF__">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l" >
        </span>  <span class="r">共有数据：<strong><{$count}></strong> 条</span> </div>
	<div class="mt-0">
	<table class="table table-border table-bordered table-hover table-bg ">
		<thead>
			<tr class="text-l">
			<th width="">订单号</th>
			<th width="">数量</th>
			<th width="">总金额</th>
                        <th width="120">下单时间</th>
			<th width="50">状态</th> 
                        <th width="80">操作</th>      
			</tr>
		</thead>
		<tbody>
		<volist name='list' id='vo'>
		<tr class="text-l">
                <td><{$vo.order_eg}></td>
                <td class="text-l"><{$vo.total_num}></td>
                <td class="text-l"><{$vo.total_sum}></td>
                <td class="text-l" ><{$vo.create_date|date="Y-m-d H:i:s",###}></td>
		<td class="text-l"><{$vo.status}></td>
                <td>
                <a title="订单详情" href="javascript:void(0);" onClick="showPage('700','500','查看订单详情','<{:U('Orders/detailOrder',array('id'=>$vo['id']))}>')" class="ml-5" style="text-decoration:none">订单详情</a>
                </td>
              
                </tr>
                </volist>
	 
	  </tbody>
	</table>  
	<div id="pageNav" class="pageNav"><{$page}></div>
	</div>
</div>
<include file='Common:foot' />