<include file='Common:head' />
<style type="text/css">
.msgs{display:inline-block;width:100px;color:#fff;font-size:12px;border:1px solid #0697DA;text-align:center;height:30px;line-height:30px;background:#0697DA;cursor:pointer;}
.msgs1{background:#E6E6E6;color:#818080;border:1px solid #CCCCCC;}
</style>
<title></title>
<body>  
   
<div class="page-container">
	<form action=""  class="form form-horizontal SubmiForm" id="form-article-add"  >
		{__TOKEN__}  
		
		<div class="row cl " >
			<label class="form-label col-xs-4 col-sm-4 " style="text-align: right;"><span class="c-red text-r">*</span>二级密码：</label>
			<div class="formControls col-xs-5 col-sm-4">
				<input type="password" name="towpassword" id="" placeholder="" value="" class="input-text towpassword" nullmsg="请输入二级密码！"  datatype="*"  >
			</div>
                           <div class="Validform_checktip"></div>
		</div>


		<div class="row cl text-c">
                    <button  class="btn btn-secondary radius"   type="submit"><i class="Hui-iconfont">&#xe605;</i> 提交</button>
		</div>
	</form>
</div>

<!--_footer 作为公共模版分离出去-->
<include file='Common:foot' />
<!--/_footer /作为公共模版分离出去-->
<script type="text/javascript">
$(function(){

$(".SubmiForm").Validform({
                callback:function(form){
                  checktowpassword();
                    return false;
		},
		tiptype:2,
         
	});	
});
</script> 
