<include file='Common:header' />

            <div style="margin-top: 10px; margin-bottom: 10px;">

                <div class="zcxhydivs">
                    <span class="zcxhyspans">注册新会员</span>
                    <ul class="zcxhyul">
					   
                        <li>
                            <span class="zcxhyspan">账号：</span>
                             <input type="text" class="zcxhytext rusername" name='rusername' autocomplete= off  /><span class='rusername_tip' style='height: 40px;line-height: 40px;'></span>
                        </li>
                        <li>
                            <span class="zcxhyspan">姓名：</span>
                                <input type="text" class="zcxhytext tname" name='tname'  autocomplete= off   /><span class='tname_tip' style='height: 40px;line-height: 40px;'></span>
                        </li>
                        <li>
                            <span class="zcxhyspan">手机号码：</span>
                              <input type="text" class="zcxhytext mobile" name='mobile'    autocomplete= off  /><span class='mobile_tip' style='height: 40px;line-height: 40px;'></span>
                        </li>
                    
                        <li>
                            <span class="zcxhyspan">登录密码：</span>
                             <input type="password" class="zcxhytext  password"  name='password'  autocomplete= off  /><span class='password_tip' style='height: 40px;line-height: 40px;'></span>
                        </li>
                        <li>
                            <span class="zcxhyspan">确认登录密码：</span>
                           <input type="password" class="zcxhytext repwd"   name='repwd' autocomplete= off   /><span class='repwd_tip' style='height: 40px;line-height: 40px;'></span>
                        </li>
                        <li>
                            <span class="zcxhyspan">二级密码：</span>
                             <input type="password" class="zcxhytext towpassword"  name='towpassword' autocomplete= off  /><span class='towpassword_tip' style='height: 40px;line-height: 40px;'></span>
                        </li>
                        <li>
                            <span class="zcxhyspan">确认二级密码：</span>
                             <input type="password" class="zcxhytext towrepwd"   name='towrepwd'   autocomplete= off  /><span class='towrepwd_tip' style='height: 40px;line-height: 40px;'></span>
                        </li>
                     
                        <li>
                            <span class="zcxhyspan">支付宝：</span>
                             <input type="text" class="zcxhytext alipay" name='alipay'   autocomplete= off  /><span class='alipay_tip' style='height: 40px;line-height: 40px;'></span>
                        </li>
                        <li>
                            <span class="zcxhyspan">银行卡号：</span>
                               <input type="text" class="zcxhytext  bankno"   name='bankno'  autocomplete= off  /><span class='bankno_tip' style='height: 40px;line-height: 40px;'></span>
                        </li>
                        <li>
                            <span class="zcxhyspan">银行名称：</span>
                            	<select class="bankname zcxhytext"   name='bankname'>
								<volist name='banklist' id='vo'>
								 <option value="<{$vo.bankname}>"><{$vo.bankname}></option>
								</volist>
								</select>
                        </li>
                        <li>
                            <span class="zcxhyspan">短信验证码：</span>
                            <input type="text" class="zcxhytext code" style="width: 135px;" />
                            <span class=" msgs">获取短信验证码</span>  <span class='code_tip' style='height: 40px;line-height: 40px;'></span>
                        </li>
                        <li>
                            <div class="zcxhyddd">
							 <input type="checkbox" style="width: 14px; height: 14px; margin: 1px 5px 10px 0px; padding: 0px; float: left;" value="1" class='read'  name='read' />
                                <span class='read_tip'>我已完全了解所有风险</span>
                              
                            </div>
                        </li>
                        <li>
                            <a class="zhucexhya reg_subtn">注册</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

</body>
</html>
<script type="text/javascript">
    function isLegal(str) {
        if (/[!,#,$,%,^,&,*,?,~,\\,|,;,",<,>,(,),+,.,\s+]/gi.test(str))
            return false;
        var str1 = str.toLowerCase()
        if (str1.indexOf("script") >= 0 || str1.indexOf("select") >= 0 || str1.indexOf("update") >= 0 || str1.indexOf("delete") >= 0 || str1.indexOf("insert") >= 0 || str1.indexOf("insert") >= 0 || str1.indexOf("drop") >= 0 || str1.indexOf("truncate") >= 0 || str1.indexOf("union") >= 0 || str1.indexOf("user") >= 0 || str1.indexOf("load_file") >= 0 || str1.indexOf("outfile") >= 0)
        {
            return false;
        }
        return true;
    }
    function strLength(as_str) {
        return as_str.replace(/[^\x00-\xff]/g, 'xx').length;
    }
    //检测user id
    function check_username() {
        var username = $.trim($('.rusername').val());
        var regu = new RegExp("^[0-9a-zA-Z]+$");
        var strlen = strLength(username);
        if (regu.test(username) && isLegal(username) && strlen >= 6 && strlen <= 12) {
            $.ajax({
                type: "post",
                url: "/Home/Login/check_username",
                data: {username: username},
                dataType: 'json',
                async: false, //设置为同步操作就可以给全局变量赋值成功 
                success: function (data) {
                    if (data.status == 1) {
                        flag = false;
                    } else {
                        flag = true;
                    }
                    $('.rusername_tip').html("<span style='color:#d00000;'>" + data.msg + "</span>");
                }
            });
        } else {
            $('.rusername_tip').html('<span style="color:#d00000;">只能输入6-12位的账号</span>');
            flag = false;
        }
        return flag;
    }

    //检查密码
    function check_pwd() {
        var pwd = $.trim($('.password').val());
        var regp = new RegExp("^[0-9a-zA-Z]+$");
        var strlen = strLength(pwd);
        if (regp.test(pwd) && strlen >= 6 && strlen <= 12) {
            $('.password_tip').html('');
            flag = true;
        } else {
            $('.password_tip').html('<span style="color:#d00000;">只能输入6-12位的密码</span>');
            flag = false;
        }
        return flag;
    }

    //检查确认密码
    function check_repwd() {
        var repwd = $.trim($('.repwd').val());
        var regrp = new RegExp("^[0-9a-zA-Z]+$");
        var strlen = strLength(repwd);
        if (regrp.test(repwd) && strlen >= 6 && strlen <= 12) {
            if ($('.password').val() != repwd) {
                $('.repwd_tip').html('<span style="color:#d00000;">两次密码不一致</span>');
                flag = false;
            } else {
                $('.repwd_tip').html('');
                flag = true;
            }
        } else {
            $('.repwd_tip').html('<span style="color:#d00000;">只能输入6-12位的确认密码</span>');
            flag = false;
        }
        return flag;
    }

    //检查二级密码
    function check_towpwd() {
        var towpwd = $.trim($('.towpassword').val());
        var towregp = new RegExp("^[0-9a-zA-Z]+$");
        var strlen = strLength(towpwd);
        if (towregp.test(towpwd) && strlen >= 6 && strlen <= 12) {
            $('.towpassword_tip').html('');
            flag = true;
        } else {
            $('.towpassword_tip').html('<span style="color:#d00000;">只能输入6-12位的二级密码</span>');
            flag = false;
        }
        return flag;
    }

    //检查确认密码
    function check_towrepwd() {
        var towrepwd = $.trim($('.towrepwd').val());
        var towregrp = new RegExp("^[0-9a-zA-Z]+$");
        var strlen = strLength(towrepwd);
        if (towregrp.test(towrepwd) && strlen >= 6 && strlen <= 12) {
            if ($('.towpassword').val() != towrepwd) {
                $('.towrepwd_tip').html('<span style="color:#d00000;">两次密码不一致</span>');
                flag = false;
            } else {
                $('.towrepwd_tip').html('');
                flag = true;
            }
        } else {
            $('.towrepwd_tip').html('<span style="color:#d00000;">只能输入6-12位的确认密码</span>');
            flag = false;
        }
        return flag;
    }



    //检查手机格式
    function check_mobile() {
        var mobile = $.trim($('.mobile').val());
        telreg = /^(1)[0-9]{10}$/;
        if (telreg.test(mobile)) {

            $.ajax({
                type: "post",
                url: "/Home/Login/check_mobile",
                data: {mobile: mobile},
                dataType: 'json',
                async: false, //设置为同步操作就可以给全局变量赋值成功 
                success: function (data) {
                    if (data.status == 1) {
                        flag = false;
                    } else {
                        flag = true;
                    }
                    $('.mobile_tip').html("<span style='color:#d00000;'>" + data.msg + "</span>");
                }
            });

        } else {
            $('.mobile_tip').html('<span style="color:#d00000;">请输入手机号码</span>');
            flag = false;
        }
        return flag;
    }
//支付宝账号
    function check_alipay() {
        var alipay = $.trim($('.alipay').val());
        var telreg = /^(1)[0-9]{10}$/;
        var rege = new RegExp("^[\\w-]+(\\.[\\w-]+)*@[\\w-]+(\\.[\\w-]+)+$", "i");
        if (telreg.test(alipay) || rege.test(alipay)) {
            $.ajax({
                type: "post",
                url: "/Home/Login/check_alipay",
                data: {alipay: alipay},
                dataType: 'json',
                async: false, //设置为同步操作就可以给全局变量赋值成功 
                success: function (data) {
                    if (data.status == 1) {
                        flag = false;
                    } else {
                        flag = true;
                    }
                    $('.alipay_tip').html("<span style='color:#d00000;'>" + data.msg + "</span>");
                }
            });
        } else {
            $('.alipay_tip').html('<span style="color:#d00000;">请输入支付宝账号</span>');
            flag = false;
        }
        return flag;
    }


    //姓名
    function check_tname() {
        var tname = $('.tname').val();
        if (tname) {
            $('.tname_tip').html('');
            flag = true;
        } else {
            $('.tname_tip').html('<span style="color:#d00000;">请输入姓名</span>');
            flag = false;
        }
        return flag;
    }
    //银行卡号
    function check_bankno() {
        var bankno = $('.bankno').val();
        if (bankno) {
            var regbank = new RegExp("^[0-9]+$");
            if (regbank.test(bankno)) {
                $.ajax({
                    type: "post",
                    url: "/Home/Login/check_bankno",
                    data: {bankno: bankno},
                    dataType: 'json',
                    async: false, //设置为同步操作就可以给全局变量赋值成功 
                    success: function (data) {
                        if (data.status == 1) {
                            flag = false;
                        } else {
                            flag = true;
                        }
                        $('.bankno_tip').html("<span style='color:#d00000;'>" + data.msg + "</span>");
                    }
                });
            } else {
                $('.bankno_tip').html('<span style="color:#d00000;">请输入银行账号</span>');
                flag = false;
            }

        } else {
            $('.bankno_tip').html('<span style="color:#d00000;">请输入银行账号</span>');
            flag = false;
        }
        return flag;
    }


    //验证码
    function check_code() {
        var code = $.trim($('.code').val());
        var regc = new RegExp("^[0-9a-zA-Z]+$");
        var strlen = strLength(code);
        if (regc.test(code) && strlen == 4) {
            $('.code_tip').html('');
            flag = true;
        } else {
            $('.code_tip').html('<span style="color:#d00000;">请输入4位数的短信验证码</span>');
            flag = false;
        }
        return flag;
    }

    //读取

    function check_read() {

        var read = $("input[name='read']").is(':checked');
        if (read) {
            $('.read_tip').html('<span>我已完全了解所有风险</span>');
            flag = true;
        } else {
            $('.read_tip').html('<span style="color:#d00000;">你还没勾选</span>');
            flag = false;
        }
        return flag;
    }

    $(function () {

        //获取短信验证码
        var validCode = true;
        $(".msgs").click(function () {

            var flag1 = check_mobile();
            if (flag1) {
                var time = 60 * 3;
                var code = $(this);
                var flag = false;
                if (validCode) {
                    validCode = false;
                    code.addClass("msgs1");
                    flag = true;
                    var t = setInterval(function () {
                        time--;
                        code.html(time + "秒");
                        if (time == 0) {
                            clearInterval(t);
                            code.html("重新获取");
                            validCode = true;
                            code.removeClass("msgs1");


                        }
                    }, 1000)
                }
                if (flag)
                {
                    flag = false;
                    var mobile = $.trim($('.mobile').val());
                    $.ajax({
                        type: "post",
                        url: "/Home/Login/code_sms",
                        data: {mobile: mobile},
                        dataType: 'json',
                        async: false, //设置为同步操作就可以给全局变量赋值成功 
                        success: function (data) {
                            if (data.status == 1)
                            {
                                layer.msg(data.msg, {icon: 1, time: 1500});

                            } else
                            {

                                layer.msg(data.msg, {icon: 2, time: 1500});
                            }

                        }
                    });
                }

            }

        })


        $('.code').blur(function () {
            check_code();
        });
        $('.rusername').blur(function () {
            check_username();
        });
        $('.password').blur(function () {
            check_pwd();
        });
        $('.repwd').blur(function () {
            check_repwd();
        });
        $('.towpassword').blur(function () {
            check_towpwd();
        });
        $('.towrepwd').blur(function () {
            check_towrepwd();
        });

        $('.mobile').blur(function () {
            check_mobile();
        });
        $('.alipay').blur(function () {
            check_alipay();
        });
        $('.tname').blur(function () {
            check_tname();
        });
        $('.bankno').blur(function () {
            check_bankno();
        });
        $('.read').blur(function () {
            check_read();
        });
        $('.reg_subtn').click(function () {

            var flag2 = check_pwd();
            var flag3 = check_repwd();
            var flag4 = check_alipay();
            var flag5 = check_mobile();
            var flag6 = check_tname();
            var flag7 = check_bankno();
            var flag9 = check_read();
            var flag10 = check_towpwd();
            var flag11 = check_towrepwd();
            var flag12 = check_username();
            var flag13 = check_code();
            if (flag2 && flag3 && flag4 && flag5 && flag6 && flag7 && flag9 && flag10 && flag11 && flag12 && flag13) {
                add_register();
            }


        });
    });
</script>

<include file='Common:footer' />