<include file='Common:head' />
<title></title>
<body>  
<div class="page-container">
	<form action=""  class="form form-horizontal SubmiForm" id="form-article-add"  >
		
                
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-4" style="text-align: right;"><span class="c-red">*</span>会员账号：</label>
			<div class="formControls col-xs-5 col-sm-4">
                            <input type="text" class="input-text username" value=""  placeholder="" id="" name="username"   ajaxurl="<{:U('/Admin/Member/check_input_username')}>"  nullmsg='会员账号不能为空' datatype='*' >
			</div>
                           <div class="Validform_checktip"></div>
		</div>
                            <div class="row cl">
			<label class="form-label col-xs-4 col-sm-4 " style="text-align: right;"><span class="c-red">*</span>修改推荐人为：</label>
			<div class="formControls col-xs-5 col-sm-4">
                            <input type="text" class="input-text recommend"  value="" placeholder="" id="" name="recommend"  ajaxurl="<{:U('/Admin/Member/check_input_recommend_exist')}>"  nullmsg='推荐人账号不能为空' datatype='*' >
			</div>
                           <div class="Validform_checktip"></div>
		</div>
		<div class="row cl text-c">
                    <button  class="btn btn-secondary radius"   type="submit"><i class="Hui-iconfont">&#xe632;</i> 确认修改</button>
                    <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
		</div>
	</form>
</div>

<!--_footer 作为公共模版分离出去-->
<include file='Common:foot' />
<!--/_footer /作为公共模版分离出去-->
<script type="text/javascript">
$(function(){
	  
	$(".SubmiForm").Validform({
                callback:function(form){
                    recommend_edit_save();
                    return false;
		},
		tiptype:1,
         
	});	
	
	
})
</script>
