<include file='Common:head' />
<title>已发货订单</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>订单管理 <span class="c-gray en">&gt;</span>已发货订单 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
<form method="get" action="__SELF__">
	<div class="text-c"> 
            <span class="select-box" style='width:130px;'>
            <select name="searchCondition"  class='select'  value=''>
            <option value="username"  <if  condition="$arr['searchCondition'] eq 'username' ">selected="selected"</if> >会员账号</option>
            <option value="receiver" <if  condition="$arr['searchCondition'] eq 'receiver' ">selected="selected"</if> >收货人姓名</option>
            <option value="order_eg" <if  condition="$arr['searchCondition'] eq 'order_eg' ">selected="selected"</if> >订单号</option>
            </select> 
          </span>
		  <input type="text" class="input-text" style="width:150px" placeholder="" id="" value="<{$arr['search_value']}>" name="search_value" >
<!--           <span class="select-box" style='width:140px;'>
            <select name="orderType"  class='select'  value=''>
            <option value="">选择订单类型</option>
            <option value="1" <if condition="$arr['orderType'] eq 1 "> selected='selected' </if>>注册报单</option>
            <option value="2" <if condition="$arr['orderType'] eq 2 "> selected='selected' </if>>重复购买</option>
            </select> 
          </span>-->
	发货时间：
    <input type="text" onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" name='search_starttime' class="input-text Wdate" style="width:120px;" value="<{$arr['search_starttime']}>">
    -
    <input type="text" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})" name='search_endtime' id="datemax" class="input-text Wdate" style="width:120px;" value="<{$arr['search_endtime']}>">
    <button type="submit" class="btn btn-success" id="" ><i class="Hui-iconfont">&#xe665;</i> 搜索</button> 
	
	</div></form>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l" >
            <!--<button type="button" class="btn btn-success excel" id="" onclick='window.location.href="<{:U("Orders/downloadexcel")}>"' ><i class="Hui-iconfont">&#xe640;</i> Excel</button>-->
        </span>  <span class="r">共有数据：<strong><{$count}></strong> 条</span> </div>
	<div class="mt-0">
	<table class="table table-border table-bordered table-hover table-bg ">
		<thead>
			<tr class="text-l">
			<th width="">ID</th>
			<th width="">会员账号</th>
			<th width="">会员呢称</th>
			<th width="">收货人姓名</th>
			<th width="">提货方式</th>
			<th width="">联系电话 </th>
			<th width="">收货地址 </th>
			<!--<th width="">创建人 </th>-->
			<th width="">创建时间</th>
                        <th width="">发货时间</th>
			<th width="">订单号</th>
			<!--<th width="">订单类型 </th>-->
			<th width="">数量</th>
			<th width="">总金额</th>
                        <th width="">业绩</th>
			<th width="50">状态</th> 
                        <th width="100">备注</th>
                        <th width="60">操作</th>
			</tr>
		</thead>
		<tbody>
		<volist name='list' id='vo'>
		<tr class="text-l">
                <td><{$vo.id}></td>
                <td class="text-l"><{$vo.username}></td>
                <td class="text-l"><{$vo.name}></td>
		<td class="text-l"><{$vo.receiver}></td>
                <td class="text-l"><{$vo.delivery_mode}></td>
		<td class="text-l"><{$vo.mobile}></td>
                <td class="text-l"><{$vo.address}></td>
		<!--<td class="text-l"><{$vo.adminname}></td>-->
                <td class="text-l"><{$vo.create_date|date='Y-m-d H:i:s',###}></td>
                <td class="text-l"><{$vo.fahuotime|date='Y-m-d H:i:s',###}></td>
		<td class="text-l"><{$vo.order_eg}></td>
                <!--<td class="text-l"><{$vo.order_type}></td>-->
                <td class="text-l"><{$vo.total_num}></td>
		<td class="text-l"><{$vo.total_sum}></td>
                <td class="text-l"><{$vo.achievement}></td>
		<td class="text-l"><{$vo.status}></td> 
                <td class="text-l"><{$vo.message}></td>
                <td>
                <a title="查看" href="javascript:;" onClick="showPage('900','500','查看订单详情','<{:U('Orders/detailOrder',array('id'=>$vo['id']))}>')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe695;</i></a>
               	<a title="收货" href="javascript:;" onClick="order_shouhuo(this,<{$vo.id}>)" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe692</i></a>
                <a title="编辑" href="javascript:;" onClick="showPage('900','500','查看物流','<{:U('Orders/wuliu',array('id'=>$vo['id']))}>')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe669;</i></a> 
		</td>
              
                </tr>
                </volist>
	 
	  </tbody>
	</table>  
	<div id="pageNav" class="pageNav"><{$page}></div>
	</div>
</div>
<include file='Common:foot' />